body {
    margin: 0px;
    padding: 0px;
    background-color: #F0EAD6;
    width: 100%;
    height: 100%;
}

/* ===================================== BOXES ===================================== */
#main-container {
    box-sizing: border-box;
    width: 1100px;
    height: 600px;
    margin: 0px auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-60%) !important; /* somehow this fixes body height bug on firefox*/
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 5px 5px 6px rgba(67,66,66,0.6);
    border-radius: 20px 20px 20px 20px;
}

#hello {
    width: 700px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
}

#resume {
    width: 400px;
    height: 300px;
    position: relative;
    left: 700px;
    top: -600px;
    box-sizing: border-box;
    border-radius: 0px 20px 0px 0px;
}

#blog {
    box-sizing: border-box;
    border-radius: 0px 0px 20px 0px;
    width: 400px;
    height: 300px;
    position: relative;
    left: 700px;
    top: -600px;
}
/* ================================================================================= */


/* ============================= IMAGES AND COLORS ==================================*/
#hello {
    background-image: linear-gradient(rgba(67,66,66,0.8),rgba(67,66,66,0.8)),url(http://guilhermesalome.com/images/sky.jpg);
    background-size: calc(130%);
}

#resume {
    background-image: linear-gradient(rgba(29,187,88,0.8),rgba(29,187,88,0.5)),url(http://guilhermesalome.com/images/resume.jpg);
    background-size: cover;
}

#blog {
    background-image: linear-gradient(rgba(243,239,226,0.6),rgba(243,239,226,0.8)),url(http://guilhermesalome.com/images/blog3.jpg);
    background-size: cover;
}
/* ================================================================================= */

/* ===================================== TEXT =======================================*/
#hello-text {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 10px;
    color: rgb(245,245,245);
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 80%;
    left: 5%
}

#resume-text {
    font-family: 'Lato', sans-serif;
    line-height: 0px;
    position: relative;
    padding-top: 20px;
    padding-left: 30px;
}

#blog-text {
    font-family: 'Lato', sans-serif;
    line-height: 0px;
    position: relative;
    padding-top: 20px;
    padding-left: 30px;
}

.small {
    font-size: 24px;
}

.bigger {
    font-size: 36px;
}

.lighter {
    color: rgba(240,240,240,0.8);
}

.darker {
    color: rgba(67,66,66,0.9);
}
/* ================================================================================= */



/* ============================ ANIMATIONS ========================================= */
.animate {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px black;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

.animate:hover {
    cursor: pointer;
    opacity: 1;
}

.radius-top {
    border-radius: 0px 20px 0px 0px;
}

.radius-bottom {
    border-radius: 0px 0px 20px 0px;
}

.radius-left {
    border-radius: 20px 0px 0px 20px;
}

/* ================================================================================= */

/* =========================== CSS FOR TABLETS AND PHONES ========================== */
/* Ipad */
@media (max-width: 1200px) {
    #hello-text {
	top: 10%;
    }

    #main-container {
	width:  700px;
	border-radius: 20px 20px 20px 20px;
    }

    #hello {
	border-radius: 20px 20px 20px 20px;
    }

    #resume {
	left: 0px;
	top: -300px;
	border-radius: 0px 0px 0px 20px;
	width: 350px;
    }

    #blog {
	left: 350px;
	width: 350px;
	border-radius: 0px 0px 20px 0px;
    }

    .radius-top {
	border-radius: 0px 0px 0px 20px;
    }
}

/* Iphone */
@media (max-width: 767px) {
    #surname-text {
	position: relative;
	top: 40px;
	left: 164px;
    }

    #main-container {
	width: 480px;
    }

    #hello {
	width: 480px;
    }

    #resume {
	width: 240px;
    }

    #blog {
	left: 240px;
	width: 240px;
    }
}
/* ================================================================================= */
